body {
	font-family: 'Cutive', serif;
	margin: 0 auto;
	background: #EFF9FC;
	font-size: 75%;
	max-width: 800px;
}

article {
	display: block;
	background-color: rgba(175, 228, 243, .30);
	-moz-border-radius: 1em; 
	-webkit-border-radius: 1em; 
	-ms-border-radius: 1em;
	-o-border-radius: 1em;
	border-radius: 1em;
	padding: 3.333333%;
	margin-bottom: 3.333333%;
}

header, h1 {
text-align: center;
}

dt {
	margin-top: 1em;
}